SERVICE_PORT = 62050
NODE_HOST = "0.0.0.0"

# use absolute path

# XRAY_EXECUTABLE_PATH = /usr/local/bin/xray
# TELEMT_EXECUTABLE_PATH = /usr/local/bin/telemt
# XRAY_ASSETS_PATH = /usr/local/share/xray

SSL_CERT_FILE = /var/lib/pg-node/certs/ssl_cert.pem
SSL_KEY_FILE = /var/lib/pg-node/certs/ssl_key.pem

# api key must be a valid uuid (you can use any version you want)
API_KEY = xxxxxxxx-yyyy-zzzz-mmmm-aaaaaaaaaaa

### can be rest or grpc
# SERVICE_PROTOCOL = grpc

### developer options
# DEBUG = false
# GENERATED_CONFIG_PATH = /var/lib/pg-node/generated
# LOG_BUFFER_SIZE = 10000
# STARTUP_LOG_TAIL_SIZE = 200
# STATS_UPDATE_INTERVAL_SECONDS = 10
# STATS_CLEANUP_INTERVAL_SECONDS = 300

### WireGuard host NAT
# PG_NODE_WG_HOST_ROUTING = 1
# PG_NODE_WG_NAT_OUTPUT_INTERFACE = eth0
# PG_NODE_WG_NAT_EGRESS_ONLY = 0
